@model IEnumerable<BsTest.Models.Photo>

<div class="row">
    <h1>Photos</h1>
    @foreach (var photo in Model)
    {
        <ul class="list-inline">
            <li><img src="@photo.ThumbnailUrl" height="30" width="30" /></li>
            <li>@photo.Title</li>
            <li> <button type="button" class="btn btn-default btn-sm" onclick="Comments_Click(@photo.Id)">Ver comentarios</button></li>
        </ul>
    }
</div>