@model IEnumerable<BsTest.Models.Comment>

<h2>Comments</h2>
@foreach (var comment in Model)
{
    <ul class="list-group">
        <li class="list-group-item">@comment.Id:  @comment.Name </li>
        <li class="list-group-item"><strong>Email: </strong>@comment.Email</li>
        <li class="list-group-item">@comment.Body</li>
    </ul>
}
