@model IEnumerable<BsTest.Models.Comment>

@foreach (var comment in Model)
{
    <ul>
        <li>@comment.Id</li>
        <li>@comment.Name</li>
        <li>@comment.Email</li>
        <li>@comment.Body</li>
    </ul>
}
